body {
    background-color: lightgrey;
    margin: 0px;
}

div#page {
    width: fit-content;
    margin: auto;
}

/* DIV NASLOV */
div#naslov {
    text-align: center;
}

div#naslov h1 {
    font-family: 'Amaranth';
    font-size: 24px;
    color: cadetblue;
}

/* HEADER DIV */
div#header {
    color: black;
    font-weight: bold;
    background-color: rgb(33, 124, 155);
    height: 50px;
    display: flex;
    align-items: center;
}

div#padding {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div#padding span {
    display: inline-flex;
    opacity: 0.6;
}

div#padding span:hover {
    opacity: 1;
    font-weight: bold;
}

div#padding img:hover { cursor: pointer; }

.mr { margin-right: 225px; }

span#izaberiAlgoritam { align-items: center; margin-left: 10px;}
span#izaberiAlgoritam:hover {cursor: none;}

span#izaberiLavirint { align-items: center;}
span#izaberiLavirint:hover {cursor: none;}

span#play { align-items: center; }

span#obrisi { align-items: center; margin-right: 10px;}
span#obrisi:hover { cursor: pointer;}

span#obrisiNakonAlgoritma {
    margin-left: 120px;
}

/* DIV SA MATRICOM */
div#matrix {
    text-align: center;
    margin-top: 5px;
    border-top: 1px solid black;
    background-color: white;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
}

td, tr {
    border: 1px solid black;
}

td {
    width: 40px;
    height: 40px;
    user-select: none;
}

.entered {
    background-color: rgb(33, 124, 155);
    border: 1px solid white;
}

.notEnter {
    background-color: white;
    border: 1px solid black;
}

.visited {
    background-color: rgba(58, 184, 89, 0.952);
}

.parentPath {
    background-color: silver;
}

#selectAlgoritamID {
    border: 2px solid black;
    border-radius: 7px;
}

div#padding select {
    width: 150px;
}

div#padding option {
    background-color: darkcyan;
    color: black;
    cursor: pointer;
}

/* FOOTER */
div#footer {
    background-color: rgb(33, 124, 155);
    border: 1px solid black;
    margin-top: 5px;
    height: 40px;
    display: flex;
    align-items: center;
}

div#footer span {
    position: relative;
    font-size: 14px;
    width: 180px;
    margin-left: 10px;
    margin-right: 10px;
}
